<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="cache_clean_by_tag" xsi:type="object">MageSuite\Cache\Console\Command\ClearCacheByTag</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Cache">
        <plugin name="log_tags_cleanup" type="MageSuite\Cache\Plugin\Framework\App\Cache\LogTagsCleanup" />
    </type>

    <type name="Magento\Framework\Indexer\CacheContext">
        <plugin name="register_cache_tags"
                type="MageSuite\Cache\Plugin\Indexer\CacheContextPlugin\LogEntityRegistration"
        />
    </type>

    <type name="Magento\Framework\App\Cache\TypeListInterface">
        <plugin name="log_type_cleanup"
                type="MageSuite\Cache\Plugin\Framework\App\Cache\LogTypeCleanup"/>
    </type>

    <type name="Magento\Framework\View\Layout">
        <plugin name="display_cache_tags_per_block" type="MageSuite\Cache\Plugin\Framework\View\Layout\DisplayCacheTagsPerBlock"/>
    </type>
</config>
